<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="content">
      {{>header}}
      <h1 id="txtName" style="color:black">Total in the World</h1>
      <div class="stat">
        <h2 id="txtTotalConfirmed"></h2>
        <h3 id="txtTotalRecovered"></h3>
        <h4 id="txtTotalDeaths"></h4>
      </div>
      <form class="search">
        <input id="txtSearch" type="text" placeholder="Location">
        <button>Search</button>
      </form>
      <p id="txtError" style="color:red"></p>
    </div>
    {{>footer}}
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
