<section class="container-fluid">
   <section class="row justify-content-center">
     <section class="col-12 col-sm-6 col-md-4">
       <form class="form-container" (submit) = "registerUser($event)">
       <h3 class="text-center font-weight-bold"> Register </h3>
       <div class="form-group">
         <input type="text" class="form-control" id="txtName" placeholder="Enter Your Full Name">
       </div>
       <div class="form-group">
          <input type="email" class="form-control" id="txtEmail" aria-describeby="emailHelp" placeholder="Enter Email">
       </div>
       <div class="form-group">
         <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" autocomplete>
       </div>
       <div class="form-group">
         <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm password" autocomplete>
       </div>
       <div class="col text-center">
         <button type="submit" class="btn btn-primary">Register</button>
       </div>
       </form>
     </section>
   </section>
 </section>
